@import url(https://fonts.googleapis.com/css2?family=Jua);

:root {
  --squares-width: 100vw;
  --squares-height: 100vh;
  --color-border: #2C3E50;
  --color-background: #2C3E50;
  --color-square1: #AEB6BF;
  --color-square2: #D5D8DC;
  --color-font: #2C3E50;
  --color-success: #28B463;
  --color-wrong: #BA4A00;
  --color-focus: #F4D03F;
  --color-focus1: #F7DC6F;
  --color-focus2: #F7DC6F;
  --size-geid-4: 2;
  --size-geid-9: 3;
}

body {
  background-color: var(--color-background);
  /* width: var(--squares-width); */
  /* height: var(--squares-height); */

}

* {
  font-family: "Jua", sans-serif;
}

.title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.game {
  height: var(--squares-width);
  display: grid;
}

.game_4 {
  grid-template-columns: repeat(var(--size-geid-4), auto)
}

.game_9 {
  grid-template-columns: repeat(var(--size-geid-9), auto)
}

.square {
  /* font-size: 30px; */
  text-align: center;
  /* padding: 20px; */
  border: solid 1.5px var(--color-border);

  display: grid;
  /* padding: 20px; */
}

.square_4 {
  grid-template-columns: repeat(var(--size-geid-4), auto)
}

.square_9 {
  grid-template-columns: repeat(var(--size-geid-9), auto)
}

.square:nth-child(even) {
  background-color: var(--color-square1);
}

.square:nth-child(odd) {
  background-color: var(--color-square2);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-border);
}

.cell>input {
  border: solid 0 transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--color-font);
  font-size: 200%;
  transition: background-color 0.5s ease-in-out;
}

.cell>input:focus {
  background-color: var(--color-focus);
  opacity: .9;
}

.cell>.focus {
  background-color: var(--color-focus1);
  opacity: .5;
}