:root {
  --squares-width: 100vw;
  --squares-height: 100vh;
  --color-border: #2C3E50;
  --color-background:#2C3E50;
  --color-squares1: #AEB6BF ;
  --color-squares2:#D5D8DC;
  --color-font: #2C3E50;
  --color-success: #28B463;
  --color-wrong: #BA4A00;
  --color-focus: #F4D03F;
  --color-focus1: #F7DC6F;
  --color-focus2: #F7DC6F;
}

body {
  background-color: var(--color-background);
  /* width: var(--squares-width); */
  /* height: var(--squares-height); */
}

.title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.game {
  height: var(--squares-width);

  display: grid;
  grid-template-columns: repeat(3, auto);
  /* padding: 20px; */
}

.squares {
  /* font-size: 30px; */
  text-align: center;
  /* padding: 20px; */
  border:solid 1.5px var(--color-border);

  display: grid;
  grid-template-columns: repeat(3, auto);
  /* padding: 20px; */
}

.squares:nth-child(even) {
  background-color: var(--color-squares1);
}

.squares:nth-child(odd) {
  background-color: var(--color-squares2);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-border);
}

.cell > input {
  border:solid 0 transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--color-font);
  font-size: 200%;
  transition: background-color 0.2s ease-in-out;
}

.cell > input:focus {
  background-color: var(--color-focus);
  opacity: .9;
}

.cell > .focus {
  background-color: var(--color-focus1);
  opacity: .5;
}

